@{
    ViewBag.Title = "Home Page";
}

@{ long userInSystem = Convert.ToInt64(Session["UserId"]); }

<section id="slider">
    <div class="main-slider">
       <div class="single-slide">
            <img src="/assets/images/1.jpg" alt="" />
        </div>
        <div class="single-slide">
            <img src="/assets/images/2.jpg" alt=""/>
        </div>
        <div class="single-slide">
            <img src="/assets/images/3.jpg" alt="" />
        </div>
    </div>
</section>

@if (HttpContext.Current.User.Identity.IsAuthenticated && userInSystem == 1)
{
    @Html.Partial("Message")
}
