@using Geocaching.App_GlobalResources
@{
    ViewBag.Title = Resource.RecoveryProfileCompleted;

}

<section id="single-page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-page-header-left">
                        <h2>@Resource.RecoveryProfileCompleted</h2>
                        <p>
                            @Resource.ConfirmRecoveryProfile
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

